<%= form_with(model: @note, local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.label :tag_list, "Tags" %>
    <%= 
      form.text_field :tag_list, 
      value: @note.send(:tag_list).to_s, 
      placeholder: 'to do'
    %>
  </p>
  <p>
    <%= form.submit %>

    <% if params[:preview_button] %> <br>
    <%= 'Are these the attributes you want to save?' %>
        <p>Name: <%= markdown(@note.title)%> </p>
        <p>Content: <%= markdown(@note.content)%> </p>



    <% end %>
 <%= submit_tag 'Preview', :name => 'preview_button' %>
  </p>
<% end %>


<%= link_to 'Back', notes_path %>
