<p>
  <strong>Title:</strong>
  <%= markdown(@note.title) %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= markdown(@note.content) %>
</p>

<p>
  <strong>Tags:</strong>
  <%= (:tags) %>
</p>
<h2>Comments</h2>
<%= render @note.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Notes', notes_path %>


